@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

 
main{
    display: flex;
    flex-direction: row; 
    background-color: #F5F2F0;  
}
 
.left{
    /* height: 100%; */
    width: 40%; 
}
 
.big-img{
    height:100%;
    width: 100%;
}
.logo{
    position: absolute;
    height: 40px;
    top: 40px;
    left: 60px;
}
.right{ 
    display: flex;
    flex-direction: column; 
}
.nav-cont{
    display: flex;
    flex-direction: row; 
}
 .fa-bars{
    display: none;

 }
.list{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none; 
    color: #333333a1; 

}
.list::before{
  content: "";
  height: 2px;
  width:  30%;
  position: relative;
  right: 9%;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.685);
}
 
.active-item{
    color: #000000;
}

section{
    display: flex; 
    align-items: flex-start;  
    position: relative;
    /* bottom: 20px; */
}
.section-left{
    font-size: 115px;
    /* font-weight: 900; */ 
    width: 50%;
    position: relative;
    bottom: 60px;  
}

.light{      
    color: #F5F2F0;
         text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}
.dark{
    position: relative;
    left: 20%; 
} 

.section-right{ 
    width: 40%;
    display: flex;
    flex-direction: column;  
    position: relative;
    top: 40% ; 
}
.extra-div{
    display: flex; 
    flex-direction: column;
    position: relative;
    bottom: 16%;  
}

.content{ 
    width: 50%;
    font-size: 30px;
    /* position: relative;
    bottom: 30px; */
    /* left: 20px; */
    color: #333333a1;
}

.social-media{
    width: 10%;
    list-style-type: none;  
    height :50%;
    position: relative;
    right:20px; 
}
.media{
    padding: 26px;
    height: 20px;
}
.check{  
    width: 130%;
    padding: 10px 30px;
    /* position: relative;
    right: 35px; */
    color: #ffffff;
    background-color:  #333333; 
}


.lower-part{
    display: flex; 
    justify-content: space-around;
    height: 100%;
}
.lower-left{
    list-style-type: none; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative; 
    bottom: 40px;
}
.fa-solid {  
 font-size: 13px;
}
.fa-circle{
    position: relative;
    right: 20px;
    z-index: 2;
}
.light-dot{   
    color: #0000005b;
    font-size: 10px;
}


.left-item{ 
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 300;
    color: #333333;
}
.left-item::before{
    content: "";
    display: inline-block;
    height: 45px;
    width: 1px;
    background-color: #00000021;
    position: relative;
    right:9px;
    top: 45px;

}
.active-cat{
    color: #000000;
    font-size: 20px;
}
.active-dot{
 color: #000000;
 font-size: 13px;
}




.lower-right{
    display: flex;
    flex-direction: column;  
    width: 50%;  
}
.fa-quote-right{ 
    position: relative; 
    font-size: 30px;
}

.lower-right-content{ 
    width: 70%;
    height: 50px;
    font-size: 15px;
    font-family: "Poppins";  
}
.lower-img{
    height: 200px;
    width: 350px; 

}
.fa-arrow-down{ 

position: relative;
top: 180px;
font-size: 50px;
background-color:#000000;
color: #ffffff;
height: 20%;
width: 7%;
text-align: center;
border-radius: 10px;

}
hr{
    width: 1px;
    height: 80px;
    position: relative;
    left: 40px;
    top: 150px;
    background-color: #000000;
}








@media screen and (max-width:1085px){
    
    .left,.nav-cont{
        display: none;;
    }
    main{ 
        background-color: #F5F2F0; 
    }
    .fa-bars{
        display: block;
        color: #000000;
        font-size: 30px;
        padding: 20px;
        
    }
    .section{
        bottom: 0px;
    }
     
     
}


@media screen and (max-width:757px){
       section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
       }
       .social-media{  
        display: flex;
        right: 15%;
       }
       .section-right{ 
        width: 50%;    
        top: 0px ; 
    }
    .section-left{  
        bottom: 0px;  
    }
    .check{
        width: 100%;
    }
    .lower-part{
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
}
